section( id='source' class='container content-section text-center' )
  div( class='row' )
    div( class='col-lg-8 col-lg-offset-2' )
      h2=t('section.code.h2')
      
      h3=t('section.code.h3')
      
      p=t('section.code.p1')
      
      pre.
        var fsm = TAIPAN.create([
          { name: 'greenOn',  from: 'red',  to: 'green' },
          { name: 'orangeOn', from: 'green', to: 'orange' },
          { name: 'redOn',    from: 'orange',  to: 'red' }
        ]);
      
      p=t('section.code.p2')
      
      pre.
        //initialization
        switchOn(lights[fsm.getStatus()]);
        
        //turn requested light on if finite state machine authorizes it
        function changeLight(light){
          var eventName = light + 'On';
          if(fsm[eventName]()) {
            transition(); //switch lights off
            switchOn(lights[light]); //switch requested light on
          }
          console.log(fsm.getStatus());
        }
